// libs
@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@import "~flatpickr/dist/flatpickr.min.css";

// config
@import 'config/reset'
@import 'config/fonts'
@import 'config/colors'
@import 'config/animations'

// pages
@import 'pages/login-page'
@import 'pages/dashboard.styl'
@import 'pages/venue-map.styl'
@import 'pages/admin-settings.styl'
@import 'pages/phone-numbers.styl'
@import 'pages/set-up-teams.styl'
@import 'pages/course-shedule.styl'

// templates
@import 'UI/datetimepicker/datetime.styl'
@import 'UI/input/input.styl'
@import 'UI/select/select.styl'
@import 'UI/button/button.styl'
@import 'UI/checkbox/checkbox.styl'


@import './main'
