body
  overflow-x hidden
  min-width 320px
  height 100vh


.font
  font-family "Rubik", sans-serif

  &-1
    font-family "Rubik", sans-serif
    font-weight 400
    font-size 18px
    line-height normal
    color $main-color

  &-2
    font-family "Rubik", sans-serif
    font-weight 500
    font-size 14px
    line-height normal
    color $main-color
    text-decoration none

  &-3
    font-family "Rubik", sans-serif
    font-style normal
    font-weight normal
    font-size 14px
    line-height 15px
    letter-spacing 0.216667px
    color $second-color
    text-decoration none

  &-4
    font-family "Rubik", sans-serif
    font-style normal
    font-weight normal
    font-size 14px
    line-height 15px
    letter-spacing 0.216667px
    text-decoration underline
    color $main-color

  &-5
    font-family "Rubik", sans-serif
    font-style normal
    font-weight normal
    font-size 14px
    line-height 15px
    letter-spacing 0.216667px
    color $main-color

  
  &-6
    font-family "Rubik", sans-serif
    font-style normal
    font-weight 500
    font-size 23px
    line-height 23px
    letter-spacing 0.216667px
    color $main-color

  &-7
    font-family "Rubik", sans-serif
    font-style normal
    font-weight normal
    font-size 21px
    line-height 21px
    letter-spacing 0.216667px
    color $main-color

.hidden
  display none !important

// @media screen and (max-width: 420px) 

.d-flex
  display flex

.align-center
  align-items center