// background-color
$bg-main = #fff
$bg-second = rgba(255, 230, 192, 0.6)
$bg-third = #FD6060
$bg-fourth = #FFE6C0

// border
$border-main = rgba(222, 222, 222, 0.5)
// $border-second = #bc8420

// shadow
$sh-first = rgba(0, 0, 0, 0.1)
$sh-second = rgba(0, 0, 0, 0.08)

// font-color
$main-color = rgba(61, 54, 54, 0.8)
$second-color = #3D3636
$third-color = #fff
$fifts-color = #FD6060
$sixts-color = rgba(61, 54, 54, 0.5)

